$iris-color: #5d5fef;
$fuschia-color: #ef5da8;
$point-color: #42567a;
$border-1-color: #42567a20;
$border-2-color: #42567a40;
$border-3-color: #303e5860;
$years-color: #3877ee;

$breakpoint_xxl: 1200px;
$breakpoint_xl: 1024px;
$breakpoint_md: 767px;
$breakpoint_xs: 576px;
$breakpoint_xxs: 380px;
